body {
    background-image: url("/static/media/homepage_background.jpg");
    background-repeat: repeat-y;
}
.search_style{
    background-color: #2a2a2a;
}
.container_style{
    background-color: #2a2a2a;
}
.card_style{
    background-color: #933b27;
}

.header_card_style{
    background-color: #6e2f1a;
}

.footer_card_style{
    background-color: #6e2f1a;
}

.recepy_img{
    height:300px;
}
